
@{
    ViewData["Title"] = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo</h2>


<form asp-action="NuevoAsync" class="form-horizontal" enctype="multipart/form-data">
    <fieldset>
        <legend>Evento</legend>
        @if (ViewBag.result != null)
        {
            if (ViewBag.result == "Success")
            {
                <div class="alert alert-success alert-dismissible" id="myAlert">
                    <a href="#" class="close">&times;</a>
                    <strong>Insertado correctamente</strong>
                </div>

            }
            else
            {
                <div class="alert alert-danger alert-dismissible" id="myAlert">
                    <a href="#" class="close">&times;</a>
                    <strong>No se pudo insertar</strong>
                </div>

            }

        }
        <div class="form-group">
            <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Nombre" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputInicio" class="col-lg-2 control-label">Fecha de inicio</label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputInicio" name="inputInicio" required />
            </div>
        </div>
        <div class="form-group">
            <label for="inputFinal" class="col-lg-2 control-label">Fecha final</label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputFinal" name="inputFinal" required />
            </div>
        </div>
        <div class="form-group">
            <label for="inputImagen" class="col-lg-2 control-label">Imagen</label>
            <div class="col-lg-10">
                <input type="file" class="form-control" id="inputImagen" name="inputImagen" required />

            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

<div>
    @using (Html.BeginForm("Index", "Evento"))
    {
        <br />
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default" type="submit">Regresar</button>
        </div>
    }

</div>

<script>
    $(document).ready(function () {
        $(".close").click(function () {
            $("#myAlert").alert("close");
        });
    });
</script>