@using Proyecto_Web.Models

@{
    ViewData["Title"] = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Gremio</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<form asp-action="Nuevo" class="form-horizontal">
    <fieldset>
        <legend>Iniciar sesión</legend>
        @if (ViewBag.result != null)
        {
            if (ViewBag.result == "Success")
            {
                <div class="alert alert-success alert-dismissible" id="myAlert">
                    <a href="#" class="close">&times;</a>
                    <strong>Insertado correctamente</strong>
                </div>

            }
            else
            {
                <div class="alert alert-danger alert-dismissible" id="myAlert">
                    <a href="#" class="close">&times;</a>
                    <strong>No se pudo insertar</strong>
                </div>

            }

        }
        <div class="form-group">
            <label for="inputnGremio" class="col-lg-2 control-label">Gremio</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputnGremio" name="inputnGremio" placeholder="Gremio"  onkeypress="return numeros(event)" required autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label for="selectEstado" class="col-lg-2 control-label">Estado</label>
            <div class="col-lg-10">
                <select class="form-control" id="selectEstado" name="selectEstado">
                    @foreach (var Estado in ViewBag.estados)
                    {
                        <option value="@Estado.id">@Estado.nombre</option>

                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLocalidad" class="col-lg-2 control-label">Localidad</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputLocalidad" name="inputLocalidad" placeholder="Localidad" required autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

<div>
    @using (Html.BeginForm("Index", "Gremio"))
    {
        <br />
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default" type="submit">Regresar</button>
        </div>
    }

</div>

<script>
    $(document).ready(function () {
        $(".close").click(function () {
            $("#myAlert").alert("close");
        });
    });
</script>

<script>
    function numeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " 0123456789";
        especiales = [8, 37, 39, 46];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }
</script>