@{
	ViewData["Title"] = "Juegos Azucareros 2017";
	int i=0;

}


<div id="myCarousel" class="carousel slide container-fluid" data-ride="carousel" data-interval="6000">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner carousel-helper" role="listbox">
		@foreach (Evento item in ViewBag.eventos)
		{
			if (i == 0)
			{
				<div class="item active img-helper">
					<center><img src="~/images/@item.url_imagen" alt="@item.imagen_id" class="img-responsive" style="height:auto; width:auto" /></center>
                    <div class="carousel-caption" role="option">
                        <p>
                            <a href="Home/Resultados.cshtml" class="btn btn-primary">Detalles</a>
                        </p>

                    </div>
				</div>    i = i + 1;
			}
			else
			{

				<div class="item img-helper">
					<center><img src="~/images/@item.url_imagen" alt="@item.imagen_id" class="img-responsive" style="height:auto; width:auto" /></center>
                    <div class="carousel-caption" role="option">
                        <p>
                            <a href="Home/Resultados.cshtml" class="btn btn-primary">Detalles</a>
                        </p>

                    </div>
				</div>}

		}

	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!--<header class="text-center" name="home">
	<div class="intro-text">
		<h1>Welcome to <strong>Helios</strong></h1>
		<p>We are a full-service integrated creative agency</p>
		<a href="#services-section" class="btn btn-default btn-lg page-scroll">LEARN MORE</a>
	</div>
</header>-->

<!--Service section-->
<div id="services-section" class="text-center">
	<div class="container">
		<div class="section-title center">
			<h2>DISCIPLINAS</h2>
			<hr>
			<div class="clearfix"></div>
			<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus. Eleifend pellentesque natoque faucibus magna ut etiam.</p>
		</div>
		<div class="space"></div>
		<div class="row">
			<div class="col-md-1 col-sm-8 service"></div>
			<div class="col-md-2 col-sm-8 service">
				<i class="fa fa-desktop"></i>
				<h4>BEISBOL</h4>
				<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
			</div>
			<div class="col-md-2 col-sm-8 service">
				<i class="fa fa-gears"></i>
				<h4>FUTBOL</h4>
				<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
			</div>
			<div class="col-md-2 col-sm-8 service">
				<i class="fa fa-rocket"></i>
				<h4>BASQUETBALL</h4>
				<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
			</div>
			<div class="col-md-2 col-sm-8 service">
				<i class="fa fa-line-chart"></i>
				<h4>ATLETISMO</h4>
				<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
			</div>
			<div class="col-md-2 col-sm-8 service">
				<i class="fa fa-line-chart"></i>
				<h4>VOLEIBOL</h4>
				<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
			</div>
		</div>
	</div>
</div>

<!-- Portfolio Section -->
<div id="works-section">
	<div class="container">
		<!-- Container -->
		<div class="section-title text-center center">
			<h2>DISCIPLINAS</h2>
			<hr>
			<div class="clearfix"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
		</div>
		<div class="categories">
			<ul class="cat">
				<li>
					<ol class="type">
						<li><a href="#" data-filter="*" class="active">All</a></li>
						<li><a href="#" data-filter=".web">Web Design</a></li>
						<li><a href="#" data-filter=".app">App Development</a></li>
						<li><a href="#" data-filter=".branding">Branding</a></li>
					</ol>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="portfolio-items">
				<div class="col-sm-6 col-md-3 col-lg-3 web">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="~/wwwroot/lib/Templates/img/portfolio/01.jpg" rel="prettyPhoto" />
							<div class="hover-text">
								<h4>Project Title</h4>
								<small>Web Design</small>
								<div class="clearfix"></div>
							</div>
							<img src="~/wwwroot/lib/Templates/img/portfolio/01.jpg" class="img-responsive" alt="Project Title">							
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 app">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/02.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>App Development</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/02.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 web">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/03.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>Web Design</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/03.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 web">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/04.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>Web Design</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/04.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 app">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/05.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>App Development</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/05.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 branding">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/06.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>Branding</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/06.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 branding app">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/07.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>App Development, Branding</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/07.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 web">
					<div class="portfolio-item">
						<div class="hover-bg">
							<a href="img/portfolio/08.jpg" rel="prettyPhoto">
								<div class="hover-text">
									<h4>Project Title</h4>
									<small>Web Design</small>
									<div class="clearfix"></div>
								</div>
								<img src="img/portfolio/08.jpg" class="img-responsive" alt="Project Title">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>		

<!-- About Section -->
<div id="about-section">
	<div class="container">
		<div class="section-title text-center center">
			<h2>About Us</h2>
			<hr>
			<div class="clearfix"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
		</div>
		<div class="row">
			<div class="col-md-6"> <img src="img/about.jpg" class="img-responsive"> </div>
			<div class="col-md-6">
				<div class="about-text">
					<h4>Who We Are</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
					<h4>What We Do</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
					<h4>Why Choose Us</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Achievements Section -->
<div id="achievements" class="section dark-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="achievement-box">
					<span style="color: #fff;font-size: 50px;font-weight: 500;display: block;">1-1-2017</span>
					<h4>Fecha</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="achievement-box">
					<span style="color: #fff;font-size: 50px;font-weight: 500;display: block;">123</span>
					<h4>Atletas</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="achievement-box">
					<span style="color: #fff;font-size: 50px;font-weight: 500;display: block;">14</span>
					<h4>Gremios</h4>
				</div>
			</div>
            <div class="col-md-3 col-sm-3">
                <div class="achievement-box">
                    <span style="color: #fff;font-size: 50px;font-weight: 500;display: block;">CD, Mex.</span>
                    <h4>sede</h4>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- Team Section -->
<div id="team-section" class="text-center">
	<div class="container">
		<div class="section-title center">
			<h2>Meet the Team</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
		</div>
		<div id="row">
			<div class="col-md-3 col-sm-6 team">
				<div class="thumbnail">
					<img src="~/lib/Templates/img/team/01.jpg" alt="..." class="img-circle team-img">
					<div class="caption">
						<h3>John Doe</h3>
						<p>Founder / CEO</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 team">
				<div class="thumbnail">					
					<img src="~/lib/Templates/img/team/02.jpg" class="img-circle team-img"/>
					<div class="caption">
						<h3>Mike Doe</h3>
						<p>Web Designer</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 team">
				<div class="thumbnail">
					<img src="~/lib/Templates/img/team/03.jpg" alt="..." class="img-circle team-img">
					<div class="caption">
						<h3>Jane Doe</h3>
						<p>Creative Director</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 team">
				<div class="thumbnail">
					<img src="~/lib/Templates/img/team/04.jpg" alt="..." class="img-circle team-img">
					<div class="caption">
						<h3>Larry Show</h3>
						<p>Project Manager</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Section -->
<div id="contact-section" class="text-center">
	<div class="container">
		<div class="section-title center">
			<h2>Contact Us</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-4">
				<i class="fa fa-map-marker"></i>
				<p>
					4321 California St,<br>
					San Francisco, CA 12345
				</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-envelope-o"></i>
				<p>info@company.com</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-phone"></i>
				<p> +1 123 456 1234</p>
			</div>
			<hr>
			<div class="clearfix"></div>
		</div>
		
	</div>
</div>	
	<div id="team-section"class="container text-center">
        <div class="section-title center">
            <h2>Follow us</h2>
            <hr>
        </div>
		<div class="social">
            <div class="col-md-1"></div>
            <div class="col-md-3" style="background-color: #3b5998; color:#ffffff">
                <br />
                <a href="https://www.facebook.com/">
                    <img src="~/images/LOGO FACEBOOK.png" alt="FACEBOOK" style="width:34px; height:35px;  " />
                </a>
                <br />
                <br />
                <h4 style="text-align:right; color:white"><b>FACEBOOK</b></h4>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3" style="background-color: #55acee; color:#ffffff">

                <br /><a href="https://www.facebook.com/">
                    <img src="~/images/LOGO TWITTER.png" alt="FACEBOOK" style="width:34px; height:36px; " />
                </a>
                <br />
                <br />
                <h4 style="text-align:right; color:white"><b>TWITTER</b></h4>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3" style="background-color: #e52d27; color:#ffffff">
                <br />
                <a href="https://www.facebook.com/">
                    <img src="~/images/LOGO YOUTUBE.png" alt="FACEBOOK" style="width:34px; height:39px; " />
                </a>
                <br />
                <br />
                <h4 style="text-align:right;  color:white"><b>YOUTUBE</b></h4>
            </div>
		</div>
	</div>

