@{
	ViewData["Title"] = "Juegos Azucareros 2017";
	int i=0;

}
<div id="myCarousel" class="carousel slide container-fluid" data-ride="carousel" data-interval="6000">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner carousel-helper" role="listbox">
		@foreach (Evento item in ViewBag.eventos)
		{
			if (i == 0)
			{
				<div class="item active img-helper">
					<center><img src="~/images/@item.url_imagen" alt="@item.imagen_id" class="img-responsive" style="height:auto; width:auto" /></center>
					<div class="carousel-caption" role="option">
						<p>
							<h2 style="color:black;">@item.nombre</h2>
						</p>
					</div>
				</div>    i = i + 1;
			}
			else
			{

				<div class="item img-helper">
					<center><img src="~/images/@item.url_imagen" alt="@item.imagen_id" class="img-responsive" style="height:auto; width:auto" /></center>
					<div class="carousel-caption" role="option">
						<p>
							<h2 style="color:black;">@item.nombre</h2>
						</p>

					</div>
				</div>}

		}

	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="titulo_index"><h2>EVENTO ACTUAL</h2></div>
<div class="col-lg-12 container-fluid" style="background-color: #18bc9c;">
	<div  class="col-lg-3" style="border-right: solid; border-right-color:white;border-width:2px;">
		<h4 class="espacio_index" style="text-align:center; color: white">
			<p>
			<b>Nombre</b>
			</p>
			
			<p>23-27 Octubre</p>
			
		</h4>
	</div>
	<div class="col-lg-3 " style="border-right: solid; border-right-color:white;border-width:2px;">
		<h4 class="espacio_index" style="text-align:center; color: white">
			<p>
				<b>Fecha inicio</b>
			</p>
			<p>Zapopan,Jal</p>
		</h4>
	</div>
	<div class="col-lg-3" style="border-right: solid; border-right-color:white;border-width:2px;">
		<h4  class="espacio_index"style="text-align:center; color: white">
			<p>
				<b>Fecha clausura</b>
			</p>
			<p>182</p>
		</h4>
	</div>
	<div class="col-lg-3">
		<h4 class="espacio_index"style="text-align:center; color: white">
			<p>
				<b>Sede</b>
			</p>
			<p>12</p>
		</h4>
	</div>
</div>


	<div class="titulo_index"><h2>NOTICIAS</h2></div>	

	<div class="container">
	<div id="myCarousel2" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner">

			<div class="item active">
				<img src="http://placehold.it/760x400/cccccc/ffffff">
				<div class="carousel-caption">
					<h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
				</div>
			</div><!-- End Item -->

			<div class="item">
				<img src="http://placehold.it/760x400/999999/cccccc">
				<div class="carousel-caption">
					<h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
				</div>
			</div><!-- End Item -->

			<div class="item">
				<img src="http://placehold.it/760x400/dddddd/333333">
				<div class="carousel-caption">
					<h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
				</div>
			</div><!-- End Item -->

			<div class="item">
				<img src="http://placehold.it/760x400/999999/cccccc">
				<div class="carousel-caption">
					<h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
				</div>
			</div><!-- End Item -->
			<div class="item">
				<img src="http://placehold.it/760x400/dddddd/333333">
				<div class="carousel-caption">
					<h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
				</div>
			</div><!-- End Item -->

		</div><!-- End Carousel Inner -->

		<ul class="list-group col-sm-4">
			<li data-target="#myCarousel2" data-slide-to="0" class="list-group-item active"><h4>Lorem ipsum dolor sit amet consetetur sadipscing</h4></li>
			<li data-target="#myCarousel2" data-slide-to="1" class="list-group-item"><h4>consetetur sadipscing elitr, sed diam nonumy eirmod</h4></li>
			<li data-target="#myCarousel2" data-slide-to="2" class="list-group-item"><h4>tempor invidunt ut labore et dolore</h4></li>
			<li data-target="#myCarousel2" data-slide-to="3" class="list-group-item"><h4>magna aliquyam erat, sed diam voluptua</h4></li>
			<li data-target="#myCarousel2" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>
		</ul>
		<!-- Controls -->
		<div class="carousel-controls">
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div><!-- End Carousel -->
</div>
		



<div class="container-fluid">

		<div class="titulo_index"><h2>SEDE</h2></div>	
		

	<div class='row'>
		<div class=" col-md-1"></div>
		<div class="col-md-11" style="background-color: #f39c12; color:white; padding-left:15px; padding-right: 15px; padding:15px; padding-top:5px">
			<div class="col-md-8">
				<br />
				<h3><b>Zapopan, Jal.</b></h3>
				<br />
				<h4 style="text-align: justify">
					Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
				</h4>
				<br />
				<h4 style="text-align: justify">
					Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
				</h4>
			</div>
			<div class="col-md-4">
				<br />
				<br />
				<br />
				<center><img alt="" src="~/images/zapopan.jpg" style="width:332px; height:auto; padding-top:6px"></center>
				<h6>Basílica de Zapopan, Jal.</h6>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</div>
<h2>PROXIMOS PARTIDOS</h2>
<br />
<br />
<div class="container" style="padding-top:20px;">

	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e74c3c; color:#ffffff">
		<center>
			<br />
			<br />
			<img src="~/images/descarga (2).jpg" alt="Selec. Argentina" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px;border-color: #2c3e50" />
			<br />
			<h3><b>VS</b></h3>
			<br />
			<img src="~/images/descarga.jpg" alt="Selec. Colombia" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px;border-color: #2c3e50" />
			<h4>
				<br /><b>
					Argentina VS Colombia<br />
					Domingo 03-Dic<br />
					19:00
					<br />
				</b>
			</h4>
		</center>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e74c3c; color:#ffffff">
		<center>
			<br />
			<br />
			<img src="~/images/29_subcategoria.jpg" alt="Selec. Uruguay" class="img-responsive" style="width:140px;height:128px;padding-top:10px;padding:10px;border-color: #2c3e50" />
			<br />
			<h3><b>VS</b></h3>
			<br />
			<img src="~/images/descarga (1).jpg" alt="Selec. Brasil" class="img-responsive" style="width:140px;height:128px;padding-top:10px;padding:10px;border-color: #2c3e50" />
			<h4>
				<br /><b>
					Uruguay VS Brasil<br />
					Sábado 02-Dic<br />
					13:00
					<br />
				</b>
			</h4>
		</center>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e74c3c; color:#ffffff">
		<center>
			<br />
			<br />
			<img src="~/images/seleccion-chilena.jpg" alt="Selec. Chile" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px;" />
			<br />
			<h3><b>VS</b></h3>
			<br />
			<img src="~/images/606897_escudo_fmf.jpg" alt="Selec. Mexico" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px; border-style: solid;border-color: #2c3e50" />
			<h4>
				<br /><b>
					México VS Chile<br />
					Jueves 30-Nov<br />
					17:00
					<br />
				</b>
			</h4>
		</center>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>

<h2>RESULTADOS</h2>
<br />
<br />
<div class="container-fluid">
	<div>
		<table class="table table-striped table-hover " style="border-style: solid; border-color:white">
			<tr>
				<td class="success"><center><img src="~/images/atleta2.jpg" alt="Atletismo" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td class="warning"><center><img src="~/images/814520888.jpg" alt="Basquetbol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td style="background-color:#2c3e50"><center><img src="~/images/jugador-de-beisbol-con-el-bate-y-la-pelota_318-37264.jpg" alt="Beisbol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td class="danger"><center><img src="~/images/jugador-de-futbol-corriendo-detras-de-la-pelota_318-43308.jpg" alt="Futbol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td class="info"><center><img src="~/images/voleibol-silueta_318-53915.jpg" alt="Voleibol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
			</tr>
			<thead>
				<tr>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Atletismo</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Basquetbol</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Beisbol</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Fútbol</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Voleibol</a></b></h4></center></th>
				</tr>
			</thead>
		</table>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</div>


<h2>SÍGUENOS</h2>
<br />
<br />
<div class="container" style="padding-top:20px;">

	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #3b5998; color:#ffffff">
		<br />
		<a href="https://www.facebook.com/">
			<img src="~/images/LOGO FACEBOOK.png" alt="FACEBOOK" style="width:34px; height:35px;  " />
		</a>
		<br />
		<br />
		<br />
		<h4 style="text-align:right"><b>FACEBOOK</b></h4>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #55acee; color:#ffffff">

		<br /><a href="https://www.facebook.com/">
			<img src="~/images/LOGO TWITTER.png" alt="FACEBOOK" style="width:34px; height:36px; " />
		</a>
		<br />
		<br />
		<br />
		<h4 style="text-align:right"><b>TWITTER</b></h4>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e52d27; color:#ffffff">
		<br />
		<a href="https://www.facebook.com/">
			<img src="~/images/LOGO YOUTUBE.png" alt="FACEBOOK" style="width:34px; height:39px; " />
		</a>
		<br />
		<br />
		<br />
		<h4 style="text-align:right"><b>YOUTUBE</b></h4>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>

<script>
	$(document).ready(function(){

	var clickEvent = false;
	$('#myCarousel2').carousel({
		interval:   4000
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');
			}
		}
		clickEvent = false;
	});
})

$(window).load(function() {
	var boxheight = $('#myCarousel2 .carousel-inner').innerHeight();
	var itemlength = $('#myCarousel2 .item').length;
	var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel2 .list-group-item').outerHeight(triggerheight);
});
</script>