@{
	ViewData["Title"] = "Juegos Azucareros 2017";
}
<div id="myCarousel" class="carousel slide container-fluid" data-ride="carousel" data-interval="6000">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<center><img src="~/images/atletismo.jpg" alt="Atletismo" class="img-responsive" style="height:auto; width:auto" /></center>
			<div class="carousel-caption" role="option">
				<p>
					Disciplina de atletismo. 
				</p>

			</div>
		</div>
		<div class="item">
			<center><img src="~/images/basketbol.jpg" alt="Basquetbol" class="img-responsive" style="height:auto; width:auto" /></center>
			<div class="carousel-caption" role="option">
				<p>
					Disciplina de basquetbol.
				</p>

			</div>
		</div>
		<div class="item">
			<center><img src="~/images/beisbol.jpg" alt="Beisbol" class="img-responsive" style="height:auto; width:auto" /></center>
			<div class="carousel-caption" role="option">
				<p>
					Disciplina de Beisbol.
				</p>

			</div>
		</div>
		<div class="item">
			<center><img src="~/images/voleibol.jpg" alt="Voleibol" class="img-responsive" style="height:auto; width:auto" /></center>
			<div class="carousel-caption" role="option">
				<p>
					Disciplina de voleibol. 
				</p>

			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="titulo_index"><h2>EVENTO ACTUAL</h2></div>
<div class="col-lg-12 container-fluid" style="background-color: #18bc9c;">
	<div  class="col-lg-3" style="border-right: solid; border-right-color:white;border-width:2px;">
		<h4 class="espacio_index" style="text-align:center; color: white">
            <p>
            <b>Nombre</b>
            </p>
			
            <p>23-27 Octubre</p>
			
		</h4>
	</div>
	<div class="col-lg-3 " style="border-right: solid; border-right-color:white;border-width:2px;">
		<h4 class="espacio_index" style="text-align:center; color: white">
            <p>
                <b>Fecha inicio</b>
            </p>
            <p>Zapopan,Jal</p>
		</h4>
	</div>
	<div class="col-lg-3" style="border-right: solid; border-right-color:white;border-width:2px;">
		<h4  class="espacio_index"style="text-align:center; color: white">
            <p>
                <b>Fecha clausura</b>
            </p>
            <p>182</p>
		</h4>
	</div>
	<div class="col-lg-3">
		<h4 class="espacio_index"style="text-align:center; color: white">
            <p>
                <b>Sede</b>
            </p>
            <p>12</p>
		</h4>
	</div>
</div>

<div class="container-fluid">
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
    <div class="titulo_index"><h2>NOTICIAS</h2></div>	

	<div class='row'>
		<div class=" col-md-1"></div>
		<div class="col-md-2 noticia">
            <h3 class="tituloNoticia" >Titulo de la noticia</h3>
            <br />
            <p class="contNoticia">
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua.
            </p>
        </div>
        <div class=" col-md-1"></div>
        <div class="col-md-2 noticia">
            <h3 class="tituloNoticia">Titulo de la noticia</h3>
            <br />
            <p class="contNoticia">
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua.
            </p>
        </div>
        <div class=" col-md-1"></div>
        <div class="col-md-2 noticia">
            <h3 class="tituloNoticia">Titulo de la noticia</h3>
            <br />
            <p class="contNoticia">
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua.
            </p>
        </div>
        <div class=" col-md-1"></div>
        <div class="col-md-2 noticia">
            <h3 class="tituloNoticia">Titulo de la noticia</h3>
            <br />
            <p class="contNoticia">
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua.
            </p>
        </div>
    </div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
</div>


<div class="container-fluid">
	<div>
		<h2>SEDE</h2>
		<br />
		<br />
	</div>
	<div class='row'>
		<div class=" col-md-1"></div>
		<div class="col-md-11" style="background-color: #f39c12; color:white; padding-left:15px; padding-right: 15px; padding:15px; padding-top:5px">
			<div class="col-md-8">
				<br />
				<h3><b>Zapopan, Jal.</b></h3>
				<br />
				<h4 style="text-align: justify">
					Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
				</h4>
				<br />
				<h4 style="text-align: justify">
					Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
				</h4>
			</div>
			<div class="col-md-4">
				<br />
				<br />
				<br />
				<center><img alt="" src="~/images/zapopan.jpg" style="width:332px; height:auto; padding-top:6px"></center>
				<h6>Basílica de Zapopan, Jal.</h6>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</div>
<h2>PROXIMOS PARTIDOS</h2>
<br />
<br />
<div class="container" style="padding-top:20px;">

	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e74c3c; color:#ffffff">
		<center>
			<br />
			<br />
			<img src="~/images/descarga (2).jpg" alt="Selec. Argentina" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px;border-color: #2c3e50" />
			<br />
			<h3><b>VS</b></h3>
			<br />
			<img src="~/images/descarga.jpg" alt="Selec. Colombia" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px;border-color: #2c3e50" />
			<h4>
				<br /><b>
					Argentina VS Colombia<br />
					Domingo 03-Dic<br />
					19:00
					<br />
				</b>
			</h4>
		</center>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e74c3c; color:#ffffff">
		<center>
			<br />
			<br />
			<img src="~/images/29_subcategoria.jpg" alt="Selec. Uruguay" class="img-responsive" style="width:140px;height:128px;padding-top:10px;padding:10px;border-color: #2c3e50" />
			<br />
			<h3><b>VS</b></h3>
			<br />
			<img src="~/images/descarga (1).jpg" alt="Selec. Brasil" class="img-responsive" style="width:140px;height:128px;padding-top:10px;padding:10px;border-color: #2c3e50" />
			<h4>
				<br /><b>
					Uruguay VS Brasil<br />
					Sábado 02-Dic<br />
					13:00
					<br />
				</b>
			</h4>
		</center>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e74c3c; color:#ffffff">
		<center>
			<br />
			<br />
			<img src="~/images/seleccion-chilena.jpg" alt="Selec. Chile" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px;" />
			<br />
			<h3><b>VS</b></h3>
			<br />
			<img src="~/images/606897_escudo_fmf.jpg" alt="Selec. Mexico" class="img-responsive" style="width:140px;height:128px;padding:10px; padding-top: 0px; border-style: solid;border-color: #2c3e50" />
			<h4>
				<br /><b>
					México VS Chile<br />
					Jueves 30-Nov<br />
					17:00
					<br />
				</b>
			</h4>
		</center>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>

<h2>RESULTADOS</h2>
<br />
<br />
<div class="container-fluid">
	<div>
		<table class="table table-striped table-hover " style="border-style: solid; border-color:white">
			<tr>
				<td class="success"><center><img src="~/images/atleta2.jpg" alt="Atletismo" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td class="warning"><center><img src="~/images/814520888.jpg" alt="Basquetbol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td style="background-color:#2c3e50"><center><img src="~/images/jugador-de-beisbol-con-el-bate-y-la-pelota_318-37264.jpg" alt="Beisbol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td class="danger"><center><img src="~/images/jugador-de-futbol-corriendo-detras-de-la-pelota_318-43308.jpg" alt="Futbol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
				<td class="info"><center><img src="~/images/voleibol-silueta_318-53915.jpg" alt="Voleibol" class="img-responsive" style="width:140px;height:140px;" /></center></td>
			</tr>
			<thead>
				<tr>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Atletismo</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Basquetbol</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Beisbol</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Fútbol</a></b></h4></center></th>
					<th><center><h4><b><a asp-controller="Home" asp-action="Resultados">Voleibol</a></b></h4></center></th>
				</tr>
			</thead>
		</table>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
</div>


<h2>SÍGUENOS</h2>
<br />
<br />
<div class="container" style="padding-top:20px;">

	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #3b5998; color:#ffffff">
		<br />
		<a href="https://www.facebook.com/">
			<img src="~/images/LOGO FACEBOOK.png" alt="FACEBOOK" style="width:34px; height:35px;  " />
		</a>
		<br />
		<br />
		<br />
		<h4 style="text-align:right"><b>FACEBOOK</b></h4>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #55acee; color:#ffffff">

		<br /><a href="https://www.facebook.com/">
			<img src="~/images/LOGO TWITTER.png" alt="FACEBOOK" style="width:34px; height:36px; " />
		</a>
		<br />
		<br />
		<br />
		<h4 style="text-align:right"><b>TWITTER</b></h4>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3" style="background-color: #e52d27; color:#ffffff">
		<br />
		<a href="https://www.facebook.com/">
			<img src="~/images/LOGO YOUTUBE.png" alt="FACEBOOK" style="width:34px; height:39px; " />
		</a>
		<br />
		<br />
		<br />
		<h4 style="text-align:right"><b>YOUTUBE</b></h4>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>