@{
    ViewData["Title"] = "Resultados";
}



<h2><b>RESULTADOS</b></h2>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">ATLETISMO</span>
    </div>
</div>
    <table class="table table-striped table-hover" id="datatable">
        <thead style="border:solid;border-color:#2e3c50; background-color: #18bc9c;">
            <tr>
                <th style="text-align:center">Prueba</th>
                <th style="text-align:center">Ganador Oro</th>
                <th style="text-align:center">Ganador Plata</th>
                <th style="text-align:center">Ganador Bronce</th>
            </tr>
        </thead>
        <tbody style="border:solid;border-color:#2e3c50; text-align:center">
            <tr>
                <td>10000M Hombres</td>
                <td>Gremio 10</td>
                <td>Gremio 09</td>
                <td>Gremio 04</td>
            </tr>
            <tr>
                <td>100M Vallas <br />Mujeres</td>
                <td>Gremio 12</td>
                <td>Gremio 03</td>
                <td>Gremio 10</td>
            </tr>
            <tr>
                <td>800M Hombres</td>
                <td>Gremio 01</td>
                <td>Gremio 05</td>
                <td>Gremio 02</td>
            </tr>
            <tr>
                <td>4x100M Relevos <br />Hombres</td>
                <td>Gremio 06</td>
                <td>Gremio 10</td>
                <td>Gremio 11</td>
            </tr>
            <tr>
                <td>400M Mujeres</td>
                <td>Gremio 09</td>
                <td>Gremio 07</td>
                <td>Gremio 04</td>
            </tr>
            <tr>
                <td>Lanzamiento de <br />Bala Hombres</td>
                <td>Gremio 05</td>
                <td>Gremio 12</td>
                <td>Gremio 03</td>
            </tr>
        </tbody>
    </table>

<div class="bgimg-2">
    <div class="caption">
        <span class="border">BASQUETBOL</span>
    </div>
</div>
<div class="container">
    <table class="table table-striped table-hover" id="datatable">
        <thead style="border:solid;border-color:#2e3c50; background-color: #f39C12;">
            <tr>
                <th style="text-align:center">Prueba</th>
                <th style="text-align:center">Ganador Oro</th>
                <th style="text-align:center">Ganador Plata</th>
                <th style="text-align:center">Ganador Bronce</th>
            </tr>
        </thead>
        <tbody style="border:solid;border-color:#2e3c50; text-align:center">
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 10</td>
                <td>Gremio 09</td>
                <td>Gremio 04</td>
            </tr>
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 05</td>
                <td>Gremio 12</td>
                <td>Gremio 03</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="bgimg-3">
    <div class="caption">
        <span class="border">BEISBOL</span>
    </div>
</div>
    <table class="table table-striped table-hover" id="datatable">
        <thead style="border:solid;border-color:#2e3c50; background-color: #2e3c50;color:white">
            <tr>
                <th style="text-align:center">Prueba</th>
                <th style="text-align:center">Ganador Oro</th>
                <th style="text-align:center">Ganador Plata</th>
                <th style="text-align:center">Ganador Bronce</th>
            </tr>
        </thead>
        <tbody style="border:solid;border-color:#2e3c50; text-align:center">
        <tbody style="border:solid;border-color:#2e3c50; text-align:center">
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 10</td>
                <td>Gremio 09</td>
                <td>Gremio 04</td>
            </tr>
        </tbody>
    </table>
<div class="bgimg-4">
    <div class="caption">
        <span class="border">FUTBOL</span>
    </div>
</div>
    <table class="table table-striped table-hover" id="datatable">
        <thead style="border:solid;border-color:#2e3c50; background-color: #e74c3c;">
            <tr>
                <th style="text-align:center">Prueba</th>
                <th style="text-align:center">Ganador Oro</th>
                <th style="text-align:center">Ganador Plata</th>
                <th style="text-align:center">Ganador Bronce</th>
            </tr>
        </thead>
        <tbody style="border:solid;border-color:#2e3c50; text-align:center">
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 10</td>
                <td>Gremio 09</td>
                <td>Gremio 04</td>
            </tr>
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 05</td>
                <td>Gremio 12</td>
                <td>Gremio 03</td>
            </tr>
        </tbody>
    </table>
<div class="bgimg-5">
    <div class="caption">
        <span class="border">VOLEIBOL</span>
    </div>
</div>
<div class="container">
    <table class="table table-striped table-hover" id="datatable">
        <thead style="border:solid;border-color:#2e3c50; background-color: #3498db;">
            <tr>
                <th style="text-align:center">Prueba</th>
                <th style="text-align:center">Ganador Oro</th>
                <th style="text-align:center">Ganador Plata</th>
                <th style="text-align:center">Ganador Bronce</th>
            </tr>
        </thead>
        <tbody style="border:solid;border-color:#2e3c50; text-align:center">
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 10</td>
                <td>Gremio 09</td>
                <td>Gremio 04</td>
            </tr>
            <tr>
                <td>Seleccion Varonil</td>
                <td>Gremio 05</td>
                <td>Gremio 12</td>
                <td>Gremio 03</td>
            </tr>
        </tbody>
    </table>
</div>
