@{
    ViewData["Title"] = "Resultados";
}

<div>
    <h2>Resultados</h2>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Panel success</h3>
        </div>
        <div class="panel-body">
            <table>
            <thead>
                <tr>
                    <th style="text-align: center">Atletismo</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>4</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
            </table> 
</div>
    </div>
</div>

